name: Daily Balance NOX Pay

on:
  schedule:
    - cron: '*/5 * * * *'  # Roda a cada 5 minutos
  workflow_dispatch:        # Mantém a opção de execução manual

jobs:
  update-balance:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout do código
      uses: actions/checkout@v2

    - name: Configurar Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.x'

    - name: Instalar dependências
      run: |
        python -m pip install --upgrade pip
        pip install pygsheets pandas paramiko

    - name: Configurar credenciais do Google
      run: |
        echo '${{ secrets.GOOGLE_CREDENTIALS }}' > controles.json
      
    - name: Executar script
      env:
        SSH_HOST: ${{ secrets.SSH_HOST }}
        SSH_PORT: ${{ secrets.SSH_PORT }}
        SSH_USERNAME: ${{ secrets.SSH_USERNAME }}
        SSH_PASSWORD: ${{ secrets.SSH_PASSWORD }}
        API_TOKEN_NOX: ${{ secrets.API_TOKEN_NOX }}
      run: python daily_balance_noxpay.py 