name: Daily Balance NOX Pay

on:
  schedule:
    - cron: '*/2 * * * *'  # Executa a cada 2 minutos
  workflow_dispatch:        # Mantém a execução manual

jobs:
  run-balance-check:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.x'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pygsheets pandas paramiko

      - name: Setup Google Credentials
        run: |
          echo '${{ secrets.GOOGLE_CREDENTIALS }}' > controles.json

      - name: Run balance check
        run: python daily_balance_noxpay.py
        env:
          SSH_HOST: ${{ secrets.SSH_HOST }}
          SSH_PORT: ${{ secrets.SSH_PORT }}
          SSH_USERNAME: ${{ secrets.SSH_USERNAME }}
          SSH_PASSWORD: ${{ secrets.SSH_PASSWORD }}
          API_TOKEN_NOX: ${{ secrets.API_TOKEN_NOX }} 