name: Daily Balance NOX Pay

on:
  schedule:
    # Executa a cada minuto
    - cron: '*/1 * * * *'
  workflow_dispatch:        # Mantém a execução manual

# Adiciona controle de concorrência
concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: false

permissions:
  contents: read

jobs:
  run-balance-check:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.x'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pygsheets psycopg2 paramiko pytz datetime

      - name: Setup Google Credentials
        run: |
          echo '${{ secrets.GOOGLE_SHEETS_CREDS }}' > controles.json

      - name: Run balance check in background
        run: |
          set -x  # Mostra os comandos sendo executados
          echo "=== Iniciando execução em $(date) ==="
          # Executa o script em background e aguarda 55 minutos
          python -u daily_balance_noxpay.py &  # Flag -u força output sem buffer
          sleep 3300  # Aguarda 55 minutos
          echo "=== Finalizado em $(date) ==="
        env:
          DB_HOST: ${{ secrets.DB_HOST }}
          DB_USER: ${{ secrets.DB_USER }}
          DB_PASS: ${{ secrets.DB_PASS }}
          DB_NAME: ${{ secrets.DB_NAME }}
          DB_PORT: ${{ secrets.DB_PORT }}
          GOOGLE_SHEETS_CREDS: ${{ secrets.GOOGLE_CREDENTIALS }}
